
# Qt build files
build-*
qwt-6.1.4/
*.pro.user
.qtc_clangd/
qrc_resources.cpp

Makefile
Makefile.debug
Makefile.release

*.Debug
*.Release

*.stash
*.patch

# Intermediate UI files
ui_tmp

# Build directories
build/
debug/
release/
unit_test/debug
unit_test/release

# Project files, workspaces, etc
.vscode/
