
# Qt build files
build-*
qwt-6.1.4/
*.pro.user

Makefile
Makefile.debug
Makefile.release

*.Debug
*.Release

*.stash
*.patch

ui_tmp

# Build directories
debug
release
unit_test/debug
unit_test/release
wininstall/
